.interface {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--prim-700);
	padding: 25px;
	box-sizing: border-box;
	border: 5px inset var(--prim-900);
	z-index: 2000;
}

.timer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 40px;
	color: var(--accent);
	background: var(--sec-100);
	align-self: flex-start;
	border: 5px inset var(--sec-700);
}

.mine-counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 40px;
	color: var(--accent);
	background: var(--sec-100);
	align-self: flex-start;
	border: 5px inset var(--sec-700);
}

.reset {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--sec-100);
	color: var(--accent-500);
	border: 5px inset var(--sec-700);
	cursor: pointer;
	padding: 30px;
	min-width: 5%;
	transition: 0.2s cubic-bezier(0.34, 0.2, 0.5, 0.9);
}

.reset:hover {
	transform: scale(1.2);
	transition: 0.2s cubic-bezier(0.34, 0.2, 0.5, 0.9);
}
